https://feeds.npr.org/1002/rss.xml
https://feeds.npr.org/1007/rss.xml
https://feeds.npr.org/1045/rss.xml
https://feeds.npr.org/1138/rss.xml
https://boingboing.net/feed
https://www.indieretronews.com/feeds/posts/default?alt=rss
https://rss.metafilter.com/metafilter.rss
https://rss.metafilter.com/fanfare.rss
